body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.movie-pic {
  max-height: 300px;
}

.movie-section {
  border-style: solid;
  border-width: 2px;
  width: 50%;
}

ul {
  list-style: none;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
