body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.movie-pic {
  max-height: 300px;
}

.movie-section {
  border-style: solid;
  border-width: 2px;
}

ul {
  list-style: none;
}
